<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>New item</key>
	<string></string>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>164628063641-n0p7aj136fd8e0q056p5okbc82p1npuh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.164628063641-n0p7aj136fd8e0q056p5okbc82p1npuh</string>
	<key>API_KEY</key>
	<string>AIzaSyD_iOOWcKZlQOwczTFiwIr6xRkiD9b6dJ0</string>
	<key>GCM_SENDER_ID</key>
	<string>164628063641</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>UvA.Project</string>
	<key>PROJECT_ID</key>
	<string>wheretomeet-206308</string>
	<key>STORAGE_BUCKET</key>
	<string>wheretomeet-206308.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:164628063641:ios:17a0e9a1d2a20132</string>
	<key>DATABASE_URL</key>
	<string>https://wheretomeet-206308.firebaseio.com</string>
</dict>
</plist>
